* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  appearance: none;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-width: 0px;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
