h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.text {

  &--regular {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
  }

  &--semibold {
    @extend .text--regular;
    font-weight: 500;
  }

  &--bold {
    @extend .text--regular;
    font-weight: 700;
  }

  &--highlight {
    position: relative;
    z-index: 1;
    color: currentColor;
  }
}
