$color_black: #000000;
$color_white: #ffffff;
$color_gray: #cecece;

$default-font-size: 16px;
$tablet-font-size: 15px;
$mobile-font-size: 14px;

$mobile-min: 320px;
$mobile-max: 411px;
$tablet-min: 768px;
$table-max: 1024px;
$desktop: 1280px;
