.site-nav {
  z-index: 2;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 40%;
  height: 72px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: $color_black;
  color: $color_white;

  &__list {
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 16px;
    margin-right: 1.5rem;
  }

  &__list-item {
    cursor: pointer;
  }

  @media (min-width: $tablet-min) {
    top: 40px;
    right: 16px;
    width: auto;
    height: auto;
    background: none;
    mix-blend-mode: difference;

    &__list {
      margin: 0;
      flex-direction: column;
    }
  }

  @media (min-width: $desktop) {
    right: 40px;
  }
}
