.button {
  cursor: pointer;
  width: max-content;
  padding: .75rem .875rem;
  font-size: .70rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;

  &--primary {
    position: relative;
    background: $color_white;
    border: 2px solid $color_black;

    &::after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      width: 100%;
      height: 100%;
      background: $color_black;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 1s cubic-bezier(.19, 1, .22, 1);
    }

    &:hover {
      color: $color_white;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  @media (min-width: $tablet-min) {
    font-size: .875rem;
  }
}
