.svg-container {
  width: 24px;
  height: 24px;

  &__icon {
    width: 100%;
    height: 100%;
    fill: $color_white;
    stroke: $color_white;
  }

  @media (min-width: 1024px) {
    width: 40px;
    height: 40px;
  }

  @media (min-width: $tablet-min) {
    width: 32px;
    height: 32px;
  }
}
