.teaser__container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-min) {
    display: flex;
    align-items: center;
    margin-top: 4.5rem;
  }

  @media (min-width: $desktop) {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
}
